@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*--------------------------------------------------Estilos Header----------------------------------------------------------------*/
header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 4vw;
}
.Header_Logo{
    display: flex;
    align-items: center;
    gap: 0.3vw;
}
.Header_Logo img{
    width: 3vw;
}
.Header_Logo h2,.Logo h2{
    font-family: "Mulish";
    font-size: 1.6vw;
    font-weight: 800;
    letter-spacing: 0em;
    text-align: left;
    color: #2F2F2F;
}
.Header_Links{
    display: flex;
    gap: 2vw;
}
.Header_Links img{
    width: 0.7vw;
    height: 0.5vw;
}
.Header_Links a{
    font-family: "Mulish";
    font-size: 1.2vw;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    color: #2F2F2F;
    text-decoration: none;
}
.Sing_up{
    display: flex;
    gap: 1vw;
    align-items: center;
}
.Sing_up div{
    display: flex;
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    align-items: center;
    justify-content:center;
    background-color: #5956E9;
}
.Sing_up button{
    font-family: "Open Sans";
    font-size: 1.2vw;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: center;
    color: #2F2F2F;
    cursor: pointer;
    background-color: white;
    border: 0.1vw solid #DCDCDC;
    border-radius: 2vw;
    width: 10vw;
    height: 4vw;
}
.Sing_up img{
    width: 1.5vw;
}

/*--------------------------------------------------Estilos Footer----------------------------------------------------------------*/
footer{
    padding:4% 9% 2% 9%;
}
.Footer_Cuerpo{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.Footer_Encabezado{
    display: flex;
    justify-content: space-between;
    padding: 3vw 0;
    border-top: 0.1vw solid #DCDCDC;
    border-bottom: 0.1vw solid #DCDCDC;
}
.Logo{
    display: flex;
    align-items: center;
    gap: 0.3vw;
}
.Logo img{
    width: 3vw;
    height: 2vw;
}
.Footer_Encabezado button{
    font-family: "Mulish";
    font-size: 1.1vw;
    font-weight: 600;
    text-align: center;
    border: 0.1vw solid #DCDCDC;
    background-color: white;
    padding: 1vw 1.5vw;
    border-radius: 2vw;
}
.Footer_Medio{
    grid-template-columns: 60% 37%;
    display: grid;
    padding: 4vw 0;
    gap: 2.5vw;
}
.Footer_Links{
    display: grid;
    grid-template-columns: 35% 30% 35%;
    width: 100%;
}
.Resources,.Utility_Pages{
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}
.Utility_Pages{
    border-right: 0.1vw solid #DCDCDC;
}
.Resources,.Utility_Pages h3{
    font-family: "Mulish";
    font-size: 1.5vw;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
}
.Links{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.Links a{
    font-family: "Mulish";
    font-size: 1vw;
    font-weight: 400;
    line-height: 2vw;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: #808080;
}
.Careers{
    display: flex;
    padding-top: 26%;
}
.startup_25{
    display: grid;
    grid-template-columns: 50% 48%;
    background-color: #2F2F2F;
    align-items: center;
    padding: 2vw;
    gap: 2vw;
    border-radius: 2vw;
    width: 100%;
}
.startup_izquierda{
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
    border-right: 0.1vw solid #646464;
}
.startup_izquierda img{
    width: 6vw;
}
.startup_izquierda h4{
    font-family: "Mulish";
    font-size: 1.4vw;
    font-weight: 700;
    color: #FFFFFF;
}
.startup_izquierda span{
    font-family: "Mulish";
    font-size: 3vw;
    font-weight: 900;
    color: #FFFFFF;
}
.startup_izquierda button{
    font-family: "Mulish";
    font-size: 1.1vw;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: center;
    background-color: #424242;
    color: #FFFFFF;
    border: none;
    border-radius: 2vw;
    width: 9vw;
    height: 3vw;
    cursor: pointer;
}
.startup_derecha{
    display: flex;
    flex-direction: column;
}
.startup_derecha article{
    display: flex;
    align-items: center;
    gap: 0.5vw;
}
.startup_derecha img{
    width: 0.5vw;
    height: 0.5vw;
}
.startup_derecha h4{
    font-family: "Mulish";
    font-size: 1vw;
    font-weight: 700;
    line-height: 1.5vw;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.startup_derecha span{
    color: #38D4FF;
}
.Footer_Final{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2vw;
    border-top: 0.1vw solid #DCDCDC;
}
.Footer_Final h4{
    font-family: "Mulish";
    font-size: 1vw;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: #808080;
}
.Footer_Final span{
    font-weight: 700;
    color: #2F2F2F;
}
.Redes_Footer{
    display: flex;
    gap: 1vw;
}
.Redes_Footer img{
    width: 1.3vw;
    height: 1.3vw;
}