@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*--------------------------------------------------Estilos Header----------------------------------------------------------------*/
header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
}
.Header_Logo{
    display: flex;
    align-items: center;
    gap: 5px;
}
.Header_Logo h2,.Logo h2{
    font-family: "Mulish";
    font-size: 30px;
    font-weight: 800;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #2F2F2F;
}
.Header_Links{
    display: flex;
    gap: 50px;
}
.Header_Links a{
    font-family: "Mulish";
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #2F2F2F;
    text-decoration: none;
}
.Sing_up{
    display: flex;
    gap: 20px;
    align-items: center;
}
.Sing_up div{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    align-items: center;
    justify-content:center ;
    background-color: #5956E9;
}
.Sing_up button{
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #2F2F2F;
    cursor: pointer;
    background-color: white;
    border: 1px solid #DCDCDC;
    padding: 20px 50px;
    border-radius: 40px; 
}

/*--------------------------------------------------Estilos Footer----------------------------------------------------------------*/
footer{
    padding:4% 7% 2% 7%;
}
.Footer_Cuerpo{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.Footer_Encabezado{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
}
.Logo{
    display: flex;
    align-items: center;
    gap: 5px;
}
.Footer_Encabezado button{
    font-family: "Mulish";
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
    text-align: center;
    border: 1px solid #DCDCDC;
    background-color: white;
    padding: 20px 30px;
    border-radius: 40px;
}
.Footer_Medio{
    grid-template-columns: 52% 45%;
    display: grid;
    padding: 5% 0;
    gap: 35px;
}
.Footer_Links{
    display: grid;
    grid-template-columns: 35% 30% 35%;
    width: 100%;
}
.Resources,.Utility_Pages{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.Utility_Pages{
    border-right: 1px solid #DCDCDC;
}
.Resources,.Utility_Pages h3{
    font-family: "Mulish";
    font-size: 25px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}
.Links{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.Links a{
    font-family: "Mulish";
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: #808080;
}
.Careers{
    display: flex;
    padding-top: 26%;
}
.startup_25{
    display: grid;
    grid-template-columns: 50% 48%;
    background-color: #2F2F2F;
    align-items: center;
    padding: 5% 5%;
    gap: 20px;
    border-radius: 25px;
    width: 100%;
}
.startup_izquierda{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-right: 1px solid #646464;
}
.startup_izquierda img{
    width: 150px;
}
.startup_izquierda h4{
    font-family: "Mulish";
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    color: #FFFFFF;
}
.startup_izquierda span{
    font-family: "Mulish";
    font-size: 60px;
    font-weight: 900;
    line-height: 75px;
    color: #FFFFFF;
}
.startup_izquierda button{
    font-family: "Mulish";
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    background-color: #424242;
    color: #FFFFFF;
    border: none;
    border-radius: 40px;
    width: 75%;
    height: 70px;
    cursor: pointer;
}
.startup_derecha{
    display: flex;
    flex-direction: column;
}
.startup_derecha article{
    display: flex;
    align-items: center;
    gap: 5px;
}
.startup_derecha img{
    width: 10px;
    height: 10px;
}
.startup_derecha h4{
    font-family: "Mulish";
    font-size: 20px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.startup_derecha span{
    color: #38D4FF;
}
.Footer_Final{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    border-top: 1px solid #DCDCDC;
}
.Footer_Final h4{
    font-family: "Mulish";
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #808080;
}
.Footer_Final span{
    font-weight: 700;
    color: #2F2F2F;
}
.Redes_Footer{
    display: flex;
    gap: 20px;
}
.Redes_Footer img{
    width: 30px;
    height: 30px;
}