@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
/*--------------------------------------------------Estilos Header----------------------------------------------------------------*/
header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
}
.Header_Logo img{
    width: 4vw;
}
.Header_Logo{
    display: flex;
    align-items: center;
    gap: 0.3vw;
}
.Header_Logo h2,.Logo h2{
    font-family: "Mulish";
    font-size: 2vw;
    font-weight: 800;
    line-height: 3vw;
    letter-spacing: 0em;
    text-align: left;
    color: #2F2F2F;
}
.Header_Links{
    display: flex;
    gap: 4vw;
}
.Header_Links a{
    font-family: "Mulish";
    font-size: 1.4vw;
    font-weight: 600;
    line-height: 1.5vw;
    letter-spacing: 0em;
    text-align: left;
    color: #2F2F2F;
    text-decoration: none;
}
.Sing_up{
    display: flex;
    gap: 1.5vw;
    align-items: center;
}
.Sing_up div{
    display: flex;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 100%;
    align-items: center;
    justify-content:center ;
    background-color: #5956E9;
}
.Sing_up button{
    font-family: "Open Sans";
    font-size: 1.3vw;
    font-weight: 600;
    line-height: 2vw;
    letter-spacing: 0em;
    text-align: center;
    color: #2F2F2F;
    cursor: pointer;
    background-color: white;
    border: 1px solid #DCDCDC;
    padding: 0.7vw 4vw;
    border-radius: 40px; 
}
/* ---------------------------------------------cuerpo-------------------------------------- */
.cuerpo-principal{
    height: auto;
    width: 90%;
    margin: auto;
}
.cont-img-principal img{
    width: 100%;
    height: 20vw;
}
.textto p{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 2vw;
font-style: normal;
margin-top: 0.5vw;
font-weight: 600;
line-height: 145.5%; /* 29.1px */
}
.cont-subscripcion{
    margin-top: 15.5vw;
    width: 100%;
    height: 85vh;
    display: flex;
    gap: 2.5vw;
    justify-content: center;
}

.cont-img-principal p{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 4vw;
font-style: normal;
font-weight: 800;
    margin-top: -15.5vw;
line-height: 110%; /* 66px */
}
.cont-text{
    width: 28%;
    height: 100%;
    border-radius: 2vw;
    border: solid 1px #7F7F7F;;
    justify-content: center;

 
}
.textto p{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 1.5vw;
font-style: normal;
margin-top: 1vw;
font-weight: 600;
line-height: 145.5%; /* 29.1px */
}

.conten-flex{
    width: 84%;
    height: 30vw;
    border-radius: 3vw;
    
    margin: 15vw auto;
    display: flex;
    gap:1vw;
    padding: 1vw;
}
.conten-flex-dentro {
    background: #F6F6F6;
    width: 40%;
    height: 100%;
    border-radius: 1vw;
    padding:4vw 2vw;
}
.conten-flex-tamaño{
  
    width: 65%;
    height: 100%;
    border-radius: 1vw;
    padding: 2vw;
    font-family: Mulish;
}
.conten-flex-dentro H2{
        color: #2F2F2F;
    font-family: Mulish;
    font-size: 1.7VW;
    font-style: normal;
    font-weight: 800;
    line-height: 110%; /* 38.5px */
    margin-bottom: 0.5vw;
}
.conten-flex-dentro p{
    color: #808080;
font-family: Mulish;
font-size: 1VW;
font-style: normal;

line-height: 150%; /* 38.5px */
margin-bottom: 0.5vw;
}
.conten-flex-dentro H3{
    color: #2F2F2F;
font-family: Mulish;
font-size: 3VW;
margin-bottom: 2vw;
}
.conten-flex-dentro span{
    color: #2F2F2F;
font-family: Mulish;
font-size: 1.5VW;

}
.conten-flex-dentro button{
    
font-family: Mulish;
font-size: 1VW;
border-radius: 3vw;
margin-bottom: 1vw;
line-height: 2vw;
width: 25vw;
padding: 0.9vw 2vw;
border: solid 0.1vw rgb(202, 202, 202);
}
.btnn{
    justify-content: space-between;
    border: solid 0.1vw rgb(202, 202, 202);
    background-color: #F6F6F6; ;
    background: #5956E9;
    color: #FFF;
}
.conten-flex-tamaño h2{
    font-size: 2.5vw;
    line-height: 2.2vw;
}
.conten-flex-tamaño p{
    margin-top: 1vw;
    font-size: 1vw;
    line-height: 1.5vw;
    color:  rgb(105, 105, 105);
}

.chulo{
    display: flex;
    flex-direction: column;
}
.chulo article{
    display: flex;
    align-items: center;
    gap:0.5vw;
}
.chulo img{
    width: 10px;
    height: 10px;
}
.chulo h4{
    font-family: "Mulish";
    font-size: 1.3vw;
    font-weight: 700;
    line-height: 2.7vw;
    letter-spacing: 0em;
    text-align: left;
    color: #232323; 
}
.chulo img{
    width: 0.7vw;
    height: 0.7vw;
}
.conten-todo{
    margin-left: 4vw;
  padding-top: 6vw;
  font-family: "Mulish";
}
.cont-fondo-img{
    width: 85%;
    height: 30vw;
    background-image: url(/Imagenes/fondo-image-start\ \(2\).png );
    margin: auto;
    border-radius: 1vw;
    background-size: cover;
    display: flex;
}
.conten-todo h2{
    font-size:2.8vw ;
    color: #FFF;
    margin-bottom: 1VW;
}
.conten-todo p{
    font-style: 1vw;
    color: #FFF;
    margin-bottom: 1VW;
}
.conten-todo input{
    width: 25vw;
    padding: 1.3vw ;
    justify-content: left;
    font-size:  1vw !important;;
    border-radius: 3vw;
    border: none;
}
.conten-todo button{
    padding: 1.1vw ;
    width: 7vw;
    border-radius:3vw ;
    border:none;
    background-color: black;
    color: #FFF;
    margin-left: -7.3vw;
    cursor: pointer;
}
.conten-checboks{
    padding-top: 1vw;
}

.conten-checboks{
    display: flex;
    gap: 1vw;
    font-size: 1vw;
}
.conten-checboks p{
    
}
.conten-checboks img{
    margin-right: 0.3vw;

}
.img-rotada{
    width: 40vw;
    height: 48vw;
    margin-top: -7vw;
    margin-right: -30%;
}








/*--------------------------------------------------Estilos Footer----------------------------------------------------------------*/
footer{
    padding:4% 7% 2% 7%;
    margin-top: 8vw;
}
.Footer_Cuerpo{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.Footer_Encabezado{
    display: flex;
    justify-content: space-between;
    padding: 4vw 0;
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
}
.Logo{
    display: flex;
    align-items: center;

    gap: 0.4vw;
}
.Logo img{
  width: 4vw;
}
.Logo h2{
   font-size: 2vw;
}
.Footer_Encabezado button{
    font-family: "Mulish";
    font-size: 1.3vw;
    font-weight: 600;
    line-height: 2.vw;
    text-align: center;
    border: 1px solid #DCDCDC;
    background-color: white;
    padding: 1.5vw 2vw;
    border-radius: 3vw;
}
.Footer_Medio{
    grid-template-columns: 52% 45%;
    display: grid;
    padding: 5% 0;
    gap: 2.5vw;
}
.Footer_Links{
    display: grid;
    grid-template-columns: 35% 30% 35%;
    width: 100%;
}
.Resources,.Utility_Pages{
    display: flex;
    flex-direction: column;
    gap: 2.5vw;
}
.Utility_Pages{
    border-right: 1px solid #DCDCDC;
}
.Resources,.Utility_Pages h3{
    font-family: "Mulish";
    font-size: 2vw;
    font-weight: 700;
    line-height: 2.4vw;
    letter-spacing: 0em;
    text-align: left;
}
.Links{
    height: 100%;
    display: flex;
    flex-direction: column;
   
}
.Links a{
    font-family: "Mulish";
    font-size: 1.2vw;
    font-weight: 400;
    line-height: 3vw;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: #808080;
}
.Careers{
    display: flex;
    padding-top: 40%;
}
.startup_25{
    display: grid;
    grid-template-columns: 50% 48%;
    background-color: #2F2F2F;
    align-items: center;
    padding: 5% 5%;
    gap: 2vw;
    border-radius: 2vw;
    width: 100%;
}
.startup_izquierda{
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    border-right: 1px solid #646464;
}
.startup_izquierda img{
    width: 45%;
}
.startup_izquierda h4{
    font-family: "Mulish";
    font-size: 2vw;
    font-weight: 700;
    line-height: 2.5vw;
    color: #FFFFFF;
}
.startup_izquierda span{
    font-family: "Mulish";
    font-size: 3.5vw;
    font-weight: 900;
    line-height: 7vw;
    color: #FFFFFF;
}
.startup_izquierda button{
    font-family: "Mulish";
    font-size: 1vw;
    font-weight: 600;
    line-height: 1.7vw;
    letter-spacing: 0em;
    text-align: center;
    background-color: #424242;
    color: #FFFFFF;
    border: none;
    border-radius: 3vw;
    width: 75%;
    height: 5vw;
    cursor: pointer;
}
.startup_derecha{
    display: flex;
    flex-direction: column;
}
.startup_derecha article{
    display: flex;
    align-items: center;
    gap:0.5vw;
}
.startup_derecha img{
    width: 10px;
    height: 10px;
}

.startup_derecha h4{
    font-family: "Mulish";
    font-size: 1vw;
    font-weight: 700;
    line-height: 2.5vw;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.startup_derecha img{
    width: 0.7vw;
    height: 0.7vw;
}
.startup_derecha span{
    color: #38D4FF;
}
.Footer_Final{
    display: flex;
    justify-content: space-between;
    padding-top: 4vw;
    border-top: 1px solid #DCDCDC;
}
.Footer_Final h4{
    font-family: "Mulish";
    font-size: 1vw;
    font-weight: 400;
    line-height: 3vw;
    letter-spacing: 0em;
    text-align: left;
    color: #808080;
}
.Footer_Final span{
    font-weight: 700;
    color: #2F2F2F;
}
.Redes_Footer{
    display: flex;
    gap: 1.5vw;
}
.Redes_Footer img{
    width: 1.5vw;
    height: 1.5vw;
}